# **Data Science Tools and Ecosytem**

In this notebook, Data Science Tools and Ecosystems are Summarized.

**Objectives:**
- List popular languages for data science
- List popular libraries for data science
- List popular tools in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. JavaScript
4. R
5. SQL

Some of the commonly used libraries used by Data Scientists include:
-------------------------------------------------------------------
1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [35]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [37]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Precious Leku Owan